.dropdown {
  max-height: 0px;
  opacity: 0;
  position: absolute;
  top:80px;
  left: 1px;
  right: 1px;
}
.active {
  max-height: 300px;
  opacity: 1;
}
ul {
  position: relative;
  z-index: 999;
  max-height: inherit;
  overflow: overlay;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
ul::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
ul::-webkit-scrollbar-thumb {
  background-color: #eee;
}
ul li {
  overflow: hidden;
  line-height: 48px;
  padding: 8px 16px;
  height: 48px;
  cursor: pointer;
}
li:hover {
  background-color: #eee;
}
.selected {
  background-color: #eee;
}
.active .trigger {
  position: fixed;
	top: 0px;
  right: 0px;
  bottom: 0px;
	left: 0px;
	z-index: 9;
}
#sort-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  color: #5B6672;
}
#small-form-item {
  width: 140px;
  cursor: pointer;
}