.input-group {
  margin-bottom:  20px;
  display: flex;
  flex-direction: column;
  position: relative; 
}
.input-group label {
  font-size: 14px;
  color: #5B6672;
  letter-spacing: 1.17px;
  font-weight: 500;
}
.form-item {
  display: flex;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0px;
  font-size: 20px;
  color: #2D333A;
  font-weight: 500;
}
.error {
  border-bottom: 1px solid red;
}
.input-group  ul {
  font-size: 20px;
  font-weight: 500;
}
.input-group :focus {
  outline: none;
  border-width: 1px;
  border-color: #00AACE;
}
input::placeholder {
  padding: 20px 0px;
}

.reverse {
  width: 295px;
  display: flex;
  border: none;
  background: #2D333A;
  border-bottom: 1px solid #00AACE;
  padding: 20px 0px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.reverse::placeholder {
  font-size:  16px;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0.5;
}
.header__search {
  font-size: 16px;
  border: 0px;
  line-height: 16px;
  width: inherit;
  padding: 10px 0px;
  opacity: 0.5;
}
