.toggle-boxes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 20px;
}
.toggle-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48%;
  margin-right: auto;
  height: 143px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  margin-top: 20px;
}
.chosen {
  border: 1px solid #00AACE;
  color: #00AACE;
} 
.title-holder {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2D333A;
}
.chosen .title-holder {
  color: #00AACE;
}
.title-holder__title, .title-holder__subtitle {
  padding: 10px 30px;
}
.toggle-box.disabled {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48%;
  margin-right: auto;
  height: 143px;
  border: 1px solid #DDDDDD;
  cursor: default;
  margin-top: 20px;
}
.title-holder__title {
  font-weight: 700;
}
.title-holder__subtitle {
  font-weight: 500;
}
.disabled .title-holder__subtitle, .disabled .title-holder__title{
  color: #AAAAAA;
}