.create-patient  {
  margin: 20px 20px;
}
.create-patient__row {
  display: flex;
  justify-content: space-between;
}
.create-patient__row div {
  min-width: 0px;
  flex: 3;
  padding-left: 5px;
}
#create-patient__dob {
  flex: 2;
}
#create-patient__street-address {
  flex: 6;
}
#create-patient__button {
  display: flex;
  margin-top:  20px;
  justify-content: center;
  align-items: center;
}
#create-patient__gender {
  flex:  2;
}
.full-width {
  width: 100%;
}