.pad {
  display: flex;
  justify-content: center;
  position: relative;
}

.pad canvas {
  width: 378px;
  height: 200px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.pad span {
  color: #DDDDDD;
  font-weight: bold;
  font-size: 18px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pad__left {
  width: 150px;
}
.pad__right {
  width: 100px;
}
.pad__center {
  flex: 1;
}
.pad__center canvas{
  width: 100%;
}
.bold {
  font-weight: 700;
}
.pad__sub{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}
.pad__sub button {
  width: 100%;
  height: 65px;
}
.signature-pad__info {
  display: flex;
}
.singature-pad__info__left{
  flex: 1;
  font-size: 14px;
  font-weight: 500;
}
.singature-pad__info__right{
  font-size: 14px;
  flex: 5;
}