.diagnosis {
  display: flex;
  flex-direction: column;
}
.diagnosis__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0px;
  min-height: 60px;
}
#diagnosis__title-first {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 30px;
}
.diagnosis__title__header {
  font-size: 20px;
  color: #2D333A;
  padding-bottom: 12px;
  font-weight: 700;
}
.diagnosis__title__subtitle {
  font-size: 14px;
  color: #2D333A;
  font-weight: 500;
}
#diagnosis__button {
  margin: 75px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}
#diagnosis__button  button {
  width: 378px;
  height: 66px;
}
