.underline {
  text-decoration: underline;
}
.justifications__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 30px;
}
.justifications__header__title {
  font-size: 20px;
  color: #2D333A;
  padding-bottom: 12px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  text-align: center;
}

.justifications__header__subtitle {
  font-size: 14px;
  color: #2D333A;
  font-weight: 500;
}
.justifications__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
}
.justifications__list__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0px;
  cursor: pointer;
}
.justifications__list__left {
  width: 150px;
  display: flex;
  align-items: center;
}
.justifications__list__right {
  height: 48px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.justifications__list__right .justifications__list__right__icon {
  background: url('/assets/svg/list-right.svg') no-repeat center;
  width: 30px;
  height: 30px;
  margin: auto;
}
.justifications__list__right.active .justifications__list__right__icon {
  margin: auto;
  width: 30px;
  height: 30px;
  background: url('/assets/svg/list-right-active.svg') no-repeat center;
}

.justifications__list__content {
  flex: 1;
  margin: 5px auto;
  font-size: 14px;
  font-weight: 400;
  color: #2D333A;
  line-height: 22px;
}
.arrow {
  display: flex;
  width: 140px;
  justify-content: flex-start;
  align-items: center;
}
.arrow-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 30px;
  background-color: #00AACE;
  text-align: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
}
.arrow-border {
  font-size: 0px; line-height: 0%; width: 0px;
  border-top: 15px solid transparent;
  border-left: 20px solid #00AACE;
  border-bottom: 15px solid transparent;
}
#justifications__button  {
  display: flex;
  justify-content: center;
  margin: 35px 0px;
}
#justifications__button button {
  width: 378px;
  height: 66px;
}