.patient-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.patient-list__item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0px;
  cursor: pointer;
}
.patient-list__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}
.patient-list__left__text {
  font-size: 16px;
  padding: 5px;
  color: #00AACE;
  font-weight: 700;
}
.patient-list__left__date {
  font-size: 16px;
  padding: 5px;
  font-weight: 500;
  color: #2D333A;
}
.patient-list__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex: 1;
}
.patient-list__middle_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 500;
  color: #2D333A;
}
.patient-list__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #2D333A;
  font-size: 30px;
  margin-right: 20px;
}
.patient-list__right svg {
  fill: #5B6672;
  height: 32px;
  width: 32px;
}
#or {
  font-size: 18px;
  color: #DDDDDD;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
  font-weight: 700;
}
#create-patient {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}