.product__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.product__header__title {
  font-size: 20px;
  color: #2D333A;
  padding-bottom: 12px;
  font-weight: 700;
}
.product__header__subtitle {
  font-size: 14px;
  color: #2D333A;
  font-weight: 500;
}