.container {
  padding-top: 20px;
  margin: 0 0;
  overflow: hidden;
}
@media(min-width: 800px){
  .container {
    padding-top: 20px;
    margin: 0 auto;
    overflow: hidden;
    width: 770px;
    /*min-height: 500px;*/
    flex: 1;
  }
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}